body {
   
  background-image: url("fondo13.jpg");
   background-size: cover;	 
   background-repeat: no-repeat;  
   height:       1024px;
  width: 100%;

  
  
  
  }
  
 

#div1 {

  position: absolute;
  top: 145px;
  left: 440px;
  height: 300px;
  width: 250px;
  text-align: center;
  

}   


#div2 {

  position: absolute;
  top: 145px;
  left:700px;
  height: 300px;
  width: 250px;
  text-align: center;
  

}   

#div3 {

  position: absolute;
  top: 145px;
  left: 970px;
  height: 300px;
  width: 250px;
  text-align: center;
}  

#div4 {

  position: absolute;
  top: 145px;
  left: 440px;
  height: 300px;
  width: 250px;
  text-align: center;
  

}   


#div5 {

  position: absolute;
  top: 145px;
  left:700px;
  height: 300px;
  width: 250px;
  text-align: center;
  

}   

#div6 {

  position: absolute;
  top: 145px;
  left: 970px;
  height: 300px;
  width: 250px;
  text-align: center;
}  
  
#horario{
    display:none;
    background-image: url("horario.png");
      background-size: cover;	 
    background-repeat: no-repeat;
  position: absolute;
  top: 145px;
  left: 5px;
  height:       450px;
  width: 400px;

}


#alumnossingrupo{
   position: absolute;
  top: 145px;
  left: 500px;
  height: 300px;
  width: 250px;
  text-align: center;
}
  
 
#intercambio12 {

  position: absolute;
  top: 445px;
  left: 440px;
  height: 300px;
  width: 250px;
  text-align: center;
  

}

#zip1{

position:absolute;
top:420px;
left:450px;
text-align: center;
}

#zip11{

position:absolute;
top:420px;
left:600px;
text-align: center;
}

#zip2{

position:absolute;
top:420px;
left:710px;
text-align: center;
}

#zip22{

position:absolute;
top:420px;
left:870px;
text-align: center;
}


#zip3{

position:absolute;
top:400px;
left:1150px;
text-align: center;
}

#zip33{

position:absolute;
top:440px;
left:1150px;
text-align: center;
}

#intercambio23 {

  position: absolute;
  top: 445px;
  left: 700px;
  height: 300px;
  width: 250px;
  text-align: center;
  

}  

#intercambio13 {

  position: absolute;
  top: 445px;
  left: 970px;
  height: 300px;
  width: 250px;
  text-align: center;
  

}    

#totalAlumnos{

 position: absolute;
  top: 145px;
  left: 500px;
  height: 300px;
  width: 250px;
  text-align: center;

}

   
